.hero {
	height: 40vh;
	background-image: linear-gradient(
			to right,
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.05)
		),
		url("../images/hero_section.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

.divider:after,
.divider:before {
	content: "";
	flex: 1;
	height: 1px;
	background: #eee;
}
.h-custom {
	height: calc(100% - 73px);
}

@media (max-width: 450px) {
	.h-custom {
		height: 100%;
	}
}
