{% extends 'base.html' %} {% block content %}

<header class="hero d-flex align-items-center">
	<div class="container-fluid ps-4">
		<h1 class="display-3">Ideas that Matter</h1>
		<p class="fs-4">A Catalyst for Bold Action</p>
		<form action="" method="POST">
			{{ subscribe.hidden_tag() }}
			<div class="form-group mt-3">
				{% if subscribe.email.errors %} {{ subscribe.email(class='form-control
				is-invalid') }}
				<div class="invalid-feedback">
					{% for error in subscribe.email.errors %}
					<span> {{error}} </span>
					{% endfor %}
				</div>
				{% else %} {{ subscribe.email(class = 'form-control w-25
				d-inline-block') }} {% endif %} {{ subscribe.submit(class = 'btn
				btn-primary py-1 mb-1') }}
			</div>
		</form>
		<small class="d-block mt-2"
			>Subscribe to our recieve updates on latest posts</small
		>
	</div>
</header>
<section>
	<div class="container py-3">
		<div class="row d-flex justify-content-start">
			<div class="col-sm-12 col-md-6 col-lg-7">
				<h2 class="text-primary" > Blog Posts </h2>
				<div class="card">
					<div class="card-body">
						<div class="d-flex flex-start align-items-center">
							<div>
								<h6 class="fw-bold text-primary mb-1">Blog Post Title</h6>
								<p class="text-muted small mb-0">Shared publicly - Jan 2020</p>
							</div>
						</div>

						<p class="mt-3 mb-4 pb-2">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
							enim ad minim veniam, quis nostrud exercitation ullamco laboris
							nisi ut aliquip consequat.
						</p>

						<div class="small d-flex justify-content-start">
							<a href="#!" class="d-flex align-items-center me-3">
								<i class="far fa-thumbs-up me-2"></i>
								<p class="mb-0">Like</p>
							</a>
							<a
								data-bs-toggle="collapse"
								href="#comments-id"
								role="button"
								class="d-flex align-items-center me-3"
							>
								<i class="far fa-comment-dots me-2"></i>
								<p class="mb-0">Comment</p>
							</a>
						</div>
					</div>
					<div
						id="comments-id"
						class="collapse card-footer py-3 border-0"
						style="background-color: #f8f9fa"
					>
						<form action="/comment/id" >
							<div class="d-flex flex-start w-100">
								<div class="form-outline w-100">
									{% if form.text.errors %} {{ form.text(class='form-control
									form-control-lg is-invalid') }}
									<div class="invalid-feedback">
										{% for error in form.text.errors %}
										<span> {{error}} </span>
										{% endfor %}
									</div>

									{% else %} {{ form.text(class='form-control form-control-lg')
									}} {% endif %}
								</div>
							</div>
							<div class="float-end mt-2 pt-1">
								{{ form.submit(class='btn btn-primary btn-sm')}}
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6 col-lg-5">
				<h2 class="text-primary" > Quotes </h2>
			</div>
		</div>
	</div>
</section>

{% endblock %}
